[build]
  command = "npm install && npm run build -- --configuration production"
  publish = "dist/ligas-barriales-frontend"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
